@import '../main.scss';
@import '@splidejs/splide/css/default';

.sponsors{
    &__box{
        padding: 50px 0px;
    }
    &__slider{
        .slide{
            @include tr(.2s);
            border-radius: 5px;
            background: #fff;
            &:hover{
                box-shadow: 0px 4px 17px 0px rgba(0, 0, 0, 0.04);
            }
            &__box{
                @include df-aic;
                gap: 20px;
                padding: 20px;
            }
            &__logo{
                img{
                    width: 50px;
                    height: 50px;
                }
            }
            &__title{
                a{
                    @include tr(.2s);
                }
                &:hover{
                    a{
                        color: $colorLightBlue;
                    }
                }
            }
        }
    }

    @media (max-width: 500px ) {
        &__box{
            padding: 20px 0px;
        }
        &__slider{
            .slide{
                transition: unset;
                &__box{
                    padding: 15px;
                    gap: 10px;
                }
                &__logo{
                    img{
                        width: 40px;
                        height: 40px;
                    }
                }
                &__title{
                    font-size: 14px;
                }
            }
        }
    }
}