@import '../main.scss';
@import '@splidejs/splide/css/default';

.welcome{
    &__box{
        padding: 25px 0px;
    }
    &__slider{
        .slider{
            &-arrows{
                position: absolute;
                left: 50%;
                bottom: 0%;
                width: 5%;
                display: flex;
                flex-direction: column;
                &::before{
                    content: '';
                    position: absolute;
                    bottom: 100%;
                    left: 0;
                    width: 100%;
                    height: 60px;
                    clip-path: polygon(100% 0, 0 100%, 100% 100%);
                    background-color: #5E92D0;
                }
                // &::after{
                //     content: '';
                //     position: absolute;
                //     top: -60px;
                //     left: 100%;
                //     width: 200px;
                //     height: 60px;
                //     background-color: $colorLightBlue;
                //     z-index: 2;
                // }
            }
            &-arrow{
                position: unset;
                width: 100%;
                height: 45px;
                border-radius: 0;
                opacity: 1;
                background-color: #023C80;
                transform: unset;
                svg{
                    path{
                        fill: #fff;
                    }
                }
            }
        }
        .slide{
            &__box{
                @include df-aic-jcsb;
            }
            &__left{
                flex-basis: 50%;
                width: 50%;
            }
            &__top, &__bot{
                @include df-aic;
            }
            /* ============================================================== */
            /* Top Section */
            /* ============================================================== */
            &__top{
                font-size: 12px;
            }
            // &__cat{
            //     background-color: $colorGreen;
            //     color: #fff;
            //     padding: 5px 15px;
            //     border-radius: 5px;
            //     text-transform: capitalize;
            // }
            &__date{
                color: #434343;
            }
            /* ============================================================== */
            /* Mid Section */
            /* ============================================================== */
            &__mid{
                max-width: 450px;
                padding: 10px 0px 20px;
            }
            &__title{
                font-size: 30px;
                font-weight: 600;
                line-height: 36px;
                color: $colorLightBlue;
            }
            &__info{
                margin-top: 5px;
                line-height: 26px;
                // @include oh(2);
                max-height: 75px;
                overflow: hidden;
                img{
                    display: none;
                }
            }
            /* ============================================================== */
            /* Bottom Section */
            /* ============================================================== */
            &__bot{
                @include df-aic;
            }
            &__more{
                a{
                    @include tr(.2s);
                    font-weight: 700;
                    line-height: 28px;
                    color: #121212;
                    border: 1px solid $colorLightBlue;
                    padding: 5px 45px;
                    border-radius: 10px;
                    background-color: #fff;
                    &:hover{
                        background-color: $colorLightBlue;
                        color: #fff;
                    }
                }
            }
            &__all{
                margin-left: 20px;
                a{
                    color: $colorLightBlue;
                    position: relative;
                    &::after{
                        @include tr(.2s);
                        content: '';
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        background-color: $colorLightBlue;
                        width: 0%;
                        height: 1px;
                    }
                    &:hover{
                        &::after{
                            width: 100%;
                        }
                    }
                }
            }
            /* ============================================================== */
            /* Right Section */
            /* ============================================================== */
            &__right{
                flex-basis: 45%;
                width: 45%;
            }
            &__img{
                margin-left: auto;
                position: relative;
                // &::after{
                //     content: '';
                //     position: absolute;
                //     bottom: -10px;
                //     right: -10px;
                //     width: 80px;
                //     height: 90px;
                //     background-color: #023C80;
                //     border-radius: 0px 0px 15px 0px;
                //     z-index: 1;
                // }
                img{
                    width: 100%;
                    height: 450px;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 15px 15px 15px 0px;
                    z-index: 2;
                    position: relative;
                }
            }
        }
    }

    @media (max-width: 500px) {
        &__slider{
            .slider{
                &-arrows{
                    display: none;
                }
            }
            .slide{
                &__box{
                    flex-direction: column-reverse;
                }
                &__left, &__right{
                    flex-basis: unset;
                    width: 100%;
                }
                &__left{
                    padding-top: 20px;
                }
                &__img{
                    img{
                        border-radius: 15px;
                    }
                }
                &__mid{
                    padding: 5px 0px 10px;
                }
                &__title{
                    font-size: 24px;
                    line-height: 30px;
                }
                &__info{
                    font-size: 14px;
                    line-height: 22px;
                    max-height: 70px;
                }
                &__more{
                    a{
                        padding: 5px 20px;
                        font-size: 14px;
                        line-height: 24px;
                    }
                }
                &__all{
                    a{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}