@import './reset.scss';
@import './lib/mixins.scss';
@import './lib/colors.scss';

/* ========================================================================== */
/* Fonts */
/* ========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');

/* ========================================================================== */
/* Main Settings */
/* ========================================================================== */
body{
    background: #FAFAFA;
    font-size: 16px;
    color: #000;
    &.noscroll{
        overflow-y: hidden;
    }
}

*{
    font-family: 'Roboto', serif;
}
button{
    font-family: 'Roboto', serif;
}

/* ========================================================================== */
/* Scrollbar */
/* ========================================================================== */
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background-color: #ffffff00;
}
::-webkit-scrollbar-thumb {
    background: $colorLightBlue;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: darken( $colorLightBlue, 5%); 
}

/* ========================================================================== */
/* Selection */
/* ========================================================================== */
::selection{
    background-color: $colorLightBlue;
    color: #fff;
}

/* ========================================================================== */
/* Containers */
/* ========================================================================== */
.container{
    max-width: 1240px;
    width: 100%;
    margin: auto;
    @media (max-width: 1280px) {
        max-width: 1100px;
    }
    @media (max-width: 1024px) {
        max-width: 100%;
        padding: 0px 20px;
    }
    @media (max-width: 500px) {
        max-width: 100%;
        padding: 0px 20px;
    }
}

.page{
    min-height: 50vh;
}

.pagination-container {
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 0px;
    display: flex;
    width: fit-content;
    @media (max-width: 500px) {
        width: 100%;
        overflow-x: auto;
        padding: 5px 0px;
    }
}
.paginate-buttons {
    width: 40px;
    height: 40px;
    margin-inline: 5px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    border-radius: 10px;
}
.back-button {
    width: 70px;
    @media (max-width: 500px) {
        width: 50px;
    }
}
.next-button {
    width: 70px;
    @media (max-width: 500px) {
        width: 50px;
    }
}
.back-button svg {
    transform: rotate(180deg);
}
.active-page {
    background-color: $colorLightBlue;
    color: #fff;
}

.paginate-buttons:hover {
    background-color: #e5e5e5;
}
.active-page:hover {
    background-color: $colorDarkBlue;
    color: #fff;
}
.back-button:active,
.next-button:active {
    background-color: #dedede;
}