@import '../../main.scss';

.doc{
    &__box{
        padding: 20px 30px;
        background-color: #fff;
        border: 1px solid #BFBFBF;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
    &__left{
        flex-basis: 5%;
        width: 5%;
    }
    &__index{
        font-weight: 500;
        height: 100%;
    }
    &__mid{
        flex-basis: 85%;
        width: 85%;
        border-right: 1px solid #BFBFBF;
        border-left: 1px solid #BFBFBF;
        padding: 0px 30px;
        margin: 0px -30px;
    }
    &__title{
        @include tr(.2s);
        line-height: 18px;
        &:hover{
            color: $colorLightBlue;
        }
    }
    &__right{
        flex-basis: 10%;
        width: 10%;
        padding-left: 20px;
        text-align: right;
    }
    &__date{
        color: #6b6b6b;
        font-weight: 500;
    }
}