@import '../../main.scss';

.worker{
    @include tr(.3s);
    &__box{
        display: flex;
        gap: 20px;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid #BFBFBF;
    }
    &__img{
        width: 150px;
        height: 200px;
        border-radius: 10px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &__right{
        display: flex;
        flex-direction: column;
    }
    &__name{
        font-size: 18px;
        font-weight: 600;
    }
    &__mid{
        margin-top: 20px;
        font-size: 15px;
        color: #4d4d4d;
    }
    &__bot{
        margin-top: auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }
    &.manage{
        .worker__bot{
            padding: 10px 0px;
            margin: 10px 0px;
            border-top: 1px solid #e3e3e3;
            border-bottom: 1px solid #e3e3e3;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
    }
    &__time{
        font-size: 14px;
        color: #7c7c7c;
        @include df-aic;
        gap: 10px;
        img{
            width: 20px;
        }
    }
    &__contacts{
        display: flex;
        gap: 20px;
        .item{
            display: flex;
            gap: 10px;
            align-items: center;
            font-size: 14px;
            position: relative;
            &__logo{
                img{
                    width: 20px;
                }
            }
            &::after{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: -10px;
                margin: auto;
                width: 1px;
                height: 15px;
                background-color: #7c7c7c;
            }
            &:last-child{
                &::after{
                    display: none;
                }
            }
        }
    }
    &__more{
        margin-top: 30px;
        padding-bottom: 5px;
        @include tr(.3s);
        .item{
            @include df-aic;
            @include tr(.3s);
            width: fit-content;
            gap: 5px;
            &__title{
                font-weight: 500;
            }
            &__logo{
                @include tr(.3s);
                display: flex;
                filter: invert(1);
                &.show{
                    transform: rotate(90deg);
                }
            }
            &.show{
                margin-bottom: 10px;
            }
        }
        &.disabled{
            pointer-events: none;
            opacity: 0.5;
        }
    }
    &__description{
        max-height: 0px;
        overflow-y: hidden;
        font-size: 15px;
        line-height: 18px;
        max-height: 0;
        transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
        &.show{
            max-height: 1000px;
            transition: max-height 1s ease-in-out;
        }
    }
}